.header-logo{
    line-height: 1;
    font-weight: bold;
    span{
        color: #4E60FF;
        display: inline-block;
        width: 100%;

    }
}

.login-title{
    margin-bottom: 16px;
    margin-top: 128px;
}

.big-text{
    font-size: 60px;
    font-weight: bold;
    h1{
        margin-bottom: 16px;
    }
}

.sub-title{
    font-size: 14px;
    color: #545563;
    font-weight: normal;
}

.sample-content{
    background-color: #697BFF;
    height: 100vh;
}

.login-banner{
    padding: 20px;

}