.search-input{
    padding-top: 24px;
    input{
        background-color: #EDEEF2;
        padding: 10px;
        border-radius: 8px;

    }
    button{
        background-color: #EDEEF2;
        border-radius: 0px 8px 8px 0px !important;
        height: 44px;
        border-left: none;
    }    
}

.menu-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 22px;    
    align-items: center;
    text-align: center;
    li{
        .text{
            font-weight: bold;
        }
        cursor: pointer;
        list-style: none;
        &.icons{
            text-align: right;
        }
    }
}

.mobile-menu{
    margin-top: 15px;
}