.search-input{
    padding-top: 24px;
    input{
        background-color: #EDEEF2;
        padding: 10px;
        border-radius: 8px;

    }
    button{
        background-color: #EDEEF2;
        border-radius: 0px 8px 8px 0px !important;
        height: 44px;
        border-left: none;
    }    
}

.menu-items{
    padding-top: 22px;
    align-items: center;
    text-align: right;
    width: 100%;
    li{
        display: inline-block;
        width: 18%;
        text-align: center;
        &.text-item{
            padding-left: 15px;
        }
        .text{
            font-weight: bold;
        }
        cursor: pointer;
        list-style: none;
        &.icons{
            text-align: right;
            width: 30%;
        }
        @media(max-width:1366px){
            width: 25%;
            padding-left: 0 !important;
            text-align: center;
        }
    }
}

.mobile-menu{
    margin-top: 15px;
    text-align: right;
}

@media(min-width:768px) and (max-width:1920px){
    .menu-items{
        //width: 80%;
    }
}