.header-logo {
    line-height: 1;
    font-weight: bold !important;
    padding-top: 10px;
    width: 100%;
    display: inline-block;
    h1{
        font-weight: bold;
    }
    span {
        color: #4E60FF;
        display: inline-block;
        width: 100%;

    }
}